<div class="title">Stock Symbol Search</div>
<div class="hint">Enter the symbol code of a stock to track it...</div>
<div class="content">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Symbol Code</mat-label>
    <input
      id="stockInput"
      matInput
      type="text"
      [formControl]="symbolCodeControl"
    />
    <button
      *ngIf="symbolCodeControl.value"
      matSuffix
      mat-icon-button
      aria-label="clear"
      (click)="symbolCodeControl.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint> Write a 1 to 5 letter code</mat-hint>
    <mat-error *ngIf="symbolCodeControl.invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <button
    id="trackBtn"
    (click)="trackSymbol()"
    [disabled]="symbolCodeControl.invalid"
    mat-raised-button
    color="primary"
  >
    Track Symbol
  </button>
</div>
