<mat-card>
  <mat-card-title>
    [ {{ symbolCode }} ]
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-title>{{ stockSymbol?.name }} </mat-card-title>

  <mat-card-content>
    <div *ngIf="!!stockSymbol">
      <div>Change Today: {{ stockSymbol?.changePercent }}%</div>
      <div>Current Price: {{ stockSymbol?.currentPrice }}</div>
      <div>High Price: {{ stockSymbol?.highPrice }}</div>
      <div>Opening Price: {{ stockSymbol?.openingPrice }}</div>
    </div>
    <ng-container *ngIf="!stockSymbol">
      <div *ngIf="!fetchCompleted">Loading...</div>
      <div *ngIf="fetchCompleted">Symbol not found!</div>
    </ng-container>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar
      *ngIf="!stockSymbol && !fetchCompleted"
      mode="indeterminate"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
